@font-face {
    font-family: 'borned';
    src: url("../assets/Borned-VG5mw.ttf") format("truetype");
}

.logoContainer{
    width: 100%;
    max-width: 200px;   
}

.burgerIconContainer{
    position: relative;
    top: 10px;
}
.navLinkContainer{
    /* gap: 13px; */
}

.navLinkContainerRes{
    
}

.logoImage{
    width: 75%;   
}


.navLinkItem{
    width: 100%;
    overflow: hidden;
    max-width: fit-content;
    padding: 10px 10px;
    transition: all 1s;
    
}

.navLinkItem:hover{
    border-bottom: 1px solid white;
}


.navLink{
    font-family: 'borned';   
    font-size: 16px !important;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}

.navLink:hover{
    color: white;
    text-decoration: none;
}

.resNavbar{
 display: none;   
 
}


#checkbox {
    display: none;
  }
  
  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(92, 130, 255);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1 {
    width: 50%;
  }
  
  #bar2 {
    width: 75%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }

  .responsiveSidebar{
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 2, 56, 0.266);
    backdrop-filter: blur(20px);
    position: fixed;
    z-index: 10000000000;
  }


  .footer-bg-clr {
    background-color: #131719;
}

.footer-space {
    padding: 70px 80px;
}

.footer-box1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-box1 img {
    width: 150px;
    height: 35px;
    display: block;
}

.icon-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-box a {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    color: white;
    background-color: transparent;
}

.fimg1 {
    fill: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    flex-shrink: 0;
    background-color: #fff;
    background-image: url("../Assets/img/M.svg");
    background-size: cover;
}

.fimg2 {
    fill: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: #fff;
    flex-shrink: 0;
    background-image: url("../Assets/img/I.png");
    background-size: cover;
}

.fimg3 {
    fill: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: #fff;
    flex-shrink: 0;
    background-image: url("../Assets/img/Y.png");
    background-size: cover;
}

.fimg4 {
    fill: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    background-color: #fff;
    background-image: url("../Assets/img/X.png");
    flex-shrink: 0;
    background-size: cover;
}

.fimg5 {
    fill: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120%;
    flex-shrink: 0;
    background-color: #fff;
    background-image: url("../Assets/img/D.svg");
    background-size: cover;
}

.footer-para-box p {
    color: white;
    font-size: 16px;
    margin: 0;
    width: 75%;
}

.footer-box2 h5 {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-box2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-box2 ul li a {
    text-decoration: none;
    color: #fff6;
}

.footer-box2 ul li a:hover {
    color: white;
}

.msg {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

@media (max-width: 1200px) {
    .footer-space {
        padding: 70px 28px;
    }
}

@media (max-width: 769px) {
    .footer-space {
        padding: 70px 30px;
    }

    .footer-para-box p {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .footer-space {
        padding: 60px 12px;
    }
}
