@media (max-width : 786px) {
    .NavBar{
        display: none !important;
    } 
    .resNavbar{
        display: block;
    }
    .responsiveSidebar{
        display: flex;
    }

    .productContainer {
        padding: 20px 0px ;
    }
    .introHeading{
        font-size: 55px;
    }
    .introTitle{
        font-size: 22px;
    }
    .card3dcenter{
        height: 400px;
    }
    .featuresContainer{
        flex-direction: column !important;
    }
    .introDescription{
        width: 95%;
        font-size: 16px;
        line-height: 1.2;
    }
    .contentContainer{
        gap: 20px;
    }
}

@media (max-width : 400px) {
    .introHeading{
        font-size: 40px;
    }
}

@media (min-width : 1300px) {
    .containerFluid{
        max-width: 1400px;
    }    
}

@media (max-width : 1400px) {
    .containerFluid{
        max-width: 1267px;
    }    
}

@media (max-width : 1267px) {
    .containerFluid{
        max-width: 1100px;
    }  
}
@media (max-width : 1267px) {
    .containerFluid{
        max-width: 1050px;
    }  
}
@media (max-width : 1050px) {
    .aboutLeft , .aboutRight  ,.stakeLeft , .stakeRight  ,.stakeLeft{
        flex: 0 1 100% !important;
        width: 100%;
        max-width: 100%;
        text-align: center;
        align-items: center;
    }
    .featureNextSection{
        flex-wrap: wrap;
    }
    .headerRight , .headerLeft{
        width: 100%;
        text-align: center;
    }
    .aboutDescription{
        text-align: center;
    }
    .containerFluid{
        width: 90%;
        max-width: 867px;
    }  

    .buttonContainerForPhases{
        justify-content: space-between;
    }

    .aboutHeading {
        font-size: 28px;
    }
}